<header>

  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">    <%= image_tag "white_whale_logo_big.png", class: "logo"%></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>

            </ul>


            <ul class="nav pull-right">
              <li><a href="#">Sign Up</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>


</header>
<!-- END of header and menu parts -->  

<!-- This is the main section of the site --> 
<div role="main">
  <div class="hero-unit container">
    <h1 class="visible-desktop">White Whale</h1>
  </div>
  <!--  Posts  -->
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2>Boo</h2>
        <p>Author: Chim Kan
          <br />
          Posted: April 28th 2012
        </p>
      </div>
      <div class="span9">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dolor tortor, et sollicitudin risus. Etiam mollis hendrerit metus vel iaculis. Integer ut nibh libero. Nunc eget dui et odio suscipit faucibus eget ac urna. Maecenas sollicitudin pharetra felis, vel cursus purus tempus eget. Sed tempus risus eget ipsum ultricies et commodo odio ullamcorper. In dolor mi, luctus id condimentum eleifend, facilisis ac lectus. Pellentesque condimentum aliquam erat sed accumsan. Suspendisse potenti. Mauris vel orci tincidunt magna gravida rutrum. Cras a arcu nisi, eu dictum nisi. Nulla nec dolor augue. Vestibulum eros risus, elementum sit amet pellentesque ac, tempus in massa.
      </div>
    </div>
  </div>
  <!--  End of posts -->

</div>
<!-- END of main section --> 


<!-- START of footer --> 
<footer class="footer"  style="margin-top: 1em;">
  <div class="container">
  <p>
    All rights reserved. White Whale - 2012.
  </p>
  </div>
</footer>