<header>

  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">How it Works</a></li>
              <li><a href="#displays">Sign Up</a></li>
              <li><a href="#products">Login</a></li>
            </ul>


            <ul class="nav pull-right">
              <li class="btn btn-success btn-small">
                <a href="#loginModal" data-toggle="modal" style="padding: 0px 0px 0px; color:white; font-weight: bold;">Post Now!</a>
              </li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>

</header>
<!-- END of header and menu parts -->  

<!-- This is the main section of the site --> 
<div role="main">


  <!-- HERO Unit NOT VISIBLE PHONE -->
  <div class="container">
      <div class="row">
          <div class="hero-unit anchor-image">
          <div class="row">
          <div class="span6">
              <span style="font-size:212%;font-weight:bold; display: block; padding: 0em 1.5em 1em 1.5em; color:black; text-shadow: 0px 0px 1px grey;">Find interesting posts!</span>
            <!-- Search form -->
              <form class="well form">
                <p style="display:block;">
              Search for interesting posts
                </p>
                <label class="">
                <input type="text" placeholder="Fun, Catz, Hackers, etc..." class="span4" style="margin: 0 auto; height: 34px; font-size: 20px;color: green;" data-provide="typeahead" data-items="4" data-source="[&quot;Catz&quot;,&quot;Hackers&quot;,&quot;Fun&quot;,&quot;Videos&quot;,&quot;Texts&quot;,&quot;News&quot;]">
                </label>
              </form>
            <!-- End of Search Form -->

            <p>
              <a href="#" class="btn btn-primary btn-large" style="font-size:30px;font-weight: bold;">Search</a>
            </p>
            </div>
            <div class="span4">
              <h3 class="rotate2left">Search Results here:</h3>
              
            </div>
          </div>
          </div><!-- End of hero-unit -->
      </div>

  </div>
  <!-- END of HERO Unit -->


</div>
<!-- END of main section --> 


<!-- START of footer --> 
<footer class="footer">
  <div class="container">
  <p>
    All rights reserved. White Whale - 2012.
  </p>
  </div>
</footer>